@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active {
  cursor: default;
  color: #ffffff75;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #ffffff75;
  width: fit-content;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.5s ease-out forwards;
}
